:root {
  /* 常规色 */
  --white: #fff;
  --black: #111;
  --red: #e74c3c;
  --orange: #e67e22;
  --yellow: #f1c40f;
  --green: #2ecc71;
  --cyan: #1abc9c;
  --blue: #4183ff;
  --purple: #9b59b6;
  --pink: #fd79a8;
  --white-10: rgb(255 255 255 / 10%);
  --white-25: rgb(255 255 255 / 25%);
  --white-50: rgb(255 255 255 / 50%);
  --white-75: rgb(255 255 255 / 75%);
  --black-25: rgb(0 0 0 / 25%);
  --black-50: rgb(0 0 0 / 50%);
  --black-75: rgb(0 0 0 / 75%);

  /* 内容区 */
  --f-size-a: 1.25rem; //字体大小
  --left-padding: 0.625rem; //内容左边距

  /* 动画 */
  --time-500: 0.5s;
  --time-750: 0.75s;
}